@model List<LAB2.Models.DatabaseModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Data Base";
}
<h1>Database</h1>


<form method="get">
    <label><input type="checkbox" name="isExternal" value="true">View External Data</label>
    <button type="submit">Submit</button>
</form>

<a asp-action="Create">Create New</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].ID</td>
                <td>@Model[i].FirstName</td>
                <td>@Model[i].SecondName</td>
                <td>@Model[i].Age</td>
                <td>@Model[i].Phone</td>
                <td>@Model[i].Email</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@Model[i].ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>